.sidebar {
    position: absolute;
width: 280px;
height: 1220px;
left: 0px;
top: 0px;
background-color: #334e69;
}

.filter {
position: absolute;
width: 225px;
height: 200px;
left: 13px;
top: 90px;

}
.filter-text{
    
font-family: Roboto Condensed;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 19px;
display: flex;
align-items: center;

color: #FFFFFF;
justify-content: center;
}
.start-text{
font-size: 12px;
line-height: 10px;
display: flex;
align-items: center;
color: #FFFFFF;
}
/* .calendar {
    position: absolute;
width: 203px;
height: 196px;
left: 38px;
top: 180px;
} */
.curriculamcontainer{
    /* curriculam */
position: absolute;
width: 85px;
height: 19px;
left: 9px;
top: 335px;

font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 16px;
display: flex;
align-items: center;
color: #FFFFFF;
}
.radiov1{
    position: absolute;
    width: 40px;
    height: 30px;
    left: 105px;
    top: 330px;
    border-radius: 5px;
}
.radiov2{
    
position: absolute;
width: 40px;
height: 30px;
left: 175px;
top: 330px;
border-radius: 5px;
background-color: #FFFFFF;
}
.lessonplan{
    position: absolute;
width: 203px;
height: 30px;
left: 7px;
top: 380px;
color: #FFFFFF;
}
.lpradiov1{
    position: absolute;
    width: 40px;
    height: 30px;
    left: 105px;
    top: 380px;
    border-radius: 5px;
}
.lpradiov2{
    
position: absolute;
width: 40px;
height: 30px;
left: 175px;
top: 380px;
border-radius: 5px;
background-color: #FFFFFF;
}
.sortcontainer{
position: absolute;
width: 228px;
height: 59px;
left: 13px;
top: 400px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 19px;
display: flex;
align-items: center;
justify-content: center;

color: #FFFFFF;
}
.sort-id-box{
    position: absolute;
    width: 50px;
    height: 30px;
    left: 0px;
    top: 50px;
    
    background: #DAE2ED;
    border: 4px solid #DAE2ED;
    box-sizing: border-box;
    border-radius: 5px;  
    color:#334E69;  

}
.sort-date-box{
    position: absolute;
width: 80px;
height: 30px;
left: 70px;
top: 50px;

font-family: Roboto Condensed;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;
text-align: center;

color: #334E69;
border-radius: 5px;
background-color: #FFFFFF;
}
.sort-time-box{
    position: absolute;
width: 70px;
height: 30px;
left: 171px;
top: 50px;
  
font-family: Roboto ;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;
text-align: center;
color: #334E69;
border-radius: 5px;
background-color: #FFFFFF;
}
.plusicon{
width: 25px;
height: 25px;
margin-left: 10px;
}
.add{
    position: absolute;
width: 150px;
height: 50px;
left: 30px;
top: 900px;

font-family: Roboto Condensed;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 23px;
display: flex;
align-items: center;
color: #334E68;
background-color: #87EAF2;
border-radius: 10px;

}