.search-box{
    position: absolute;
width: 243px;
height: 45px;
left: 16px;
top: 60px;

background: #FFFFFF;
border: 3px solid #DDE0E9;
border-radius: 15px;

font-family: Roboto;
font-style: normal;
font-weight:bold;
font-size: 16px;
line-height: 16px;
display: flex;
align-items: center;
text-align: left;

color: #334E69;
}

.search-logo{
    position: absolute;
width: 20px;
height: 20px;
left: 235px;
top: 80px;

} 