.search-box{
position: absolute;
width: 235px;
height: 30px;
left: 16px;
top: 60px;
background: #FFFFFF;
border: 3px solid #DDE0E9;
border-radius: 15px;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;
text-align: left;
color: #334E69;
}

.search-logo{
position: absolute;
width: 20px;
height: 20px;
left: 225px;
top: 70px;
} 